body {
    background-color: #2b2d42;
    font-family: 'Rubik', sans-serif;
    color: #fdfffc;
    font-size: 30px;
}

.container{
  /* height: 100vh; */
  /* border: 1px solid red; */
  justify-content: center
}

/* footer{
  padding: 30 auto;
} */

/* #mouseTarget {
  box-sizing: border-box;
  width:15rem;
  border:1px solid #333;
} */

/* .flex:hover{
  animation-duration: 1s;
  animation-name: Up;
  animation-fill-mode: forwards;
  
} */

/* @keyframes Up {
  from { transform: translateY(0); }
  to { transform: translateY(-20px); }
} */

.flex {
  background-color: #edf2f4;
  /* animation-name: Down; */
   /* animation-duration:5s; */
  /* animation: none; */
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  border: 1px solid black;
  padding : 20px;
}

.flex-item + .flex-item {
  margin-left: 40px;
}

.webcam{
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
}

.screenCapture{
  max-width: 100%;
  height: auto;
  margin: 30px auto;
  display: none;
}

.screenSharing{
  max-width: 100%;
  height: auto;
  margin: 30px auto;
  /* display: none; */
  /* visibility: hidden; */
}


button{
  color: #e63946;
}

