body {
    background-color: #2b2d42;
    /* background-color: white; */

    font-family: 'Rubik', sans-serif;
    color: #fdfffc;
    font-size: 30px;
}
footer{
  background-color: #edf2f4;
}
/* .navbar{
  justify-content: right;
} */

/* footer{
 padding: 20px;
} */
.flex {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  padding : 20px;
  /* background-color: honeydew; */
}
.flex-item + .flex-item {
  margin-left: 40px;
}

.webcam{
  /* width: 500px;
  height: 500px; */
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  /* background-color: #8d99ae; */
}

.screenCapture{
  /* width: 500px;
  height: 500px; */
  /* margin-top: 30px; */
  max-width: 100%;
  height: auto;
  margin: 30px auto;
  display: none;
}

.screenSharing{
  /* width: 500px;
  height: 500px; */
  /* margin-top: 30px; */
  max-width: 100%;
  height: auto;
  margin: 30px auto;
}

.buttonBar{
  /* position: fixed; */
  bottom: 0;
}

/* .smallCam{
  width: 150px;
  height: 50px;
} */

button{
  color: #e63946;
}

/* div.object:hover {
  animation: MoveUp linear;
  position: absolute;
  left: 0;
  bottom: 0;
} */
/* background-color: yellow; */

/* .object {
  display: none;
  background-color: yellow;
} */

/* span:hover + .object {
  display: block;
} */

/* div.object:hover {
  animation: MoveUpDown 1s linear;
  position: absolute;
  left: 0;
  bottom: 0;
} */

/* @keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 100px;
  }
} */